.container{
    background-color:grey;
border:10px solid black;
color:navy;
}
.para{
    background-color:aqua;
    border:10px solid black;
    color:navy;
    }
.img{
    width: 400px;
    height: 600px;
}